.b-card {
  /* max-width: 100%; */
  min-height: 400px;
  background-image: url("https://images.unsplash.com/photo-1440778303588-435521a205bc?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.b-card-title {
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.c-img {
  overflow: hidden;
}
.image {
  transition: all 0.9s ease-in-out;
}
.c-img:hover .image {
  transform: scale(1.05);
}

/* Recent Blog */
.side-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}
