.search-box {
  background-color: white;
  border-radius: 30px;
  padding: 6px;
  box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.search-btn {
  color: white;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.fa-search {
  font-size: 24px;
  color: #808080;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0 15px;
  color: rgb(30, 30, 30);
  font-size: 20px;
  transition: 0.4s;
  line-height: 50px;
  width: 350px;
  font-family: "Delius", cursive;
}

.search-box:hover > .search-input {
  width: 400px;
  padding: 0 7px;
}

.art-section {
  transition: 0.4s;
  position: relative;
}

.art-images {
  transition: 0.4s;
}
.art-section:hover .art-images {
  filter: blur(1px) brightness(90%);
  -webkit-filter: blur(1px) brightness(90%);
  -moz-filter: blur(1px) brightness(90%);
  cursor: pointer;
}

.text {
  position: absolute;
  font-family: "Delius", cursive;
  bottom: 0%;
  left: 50%;
  transition: 0.6s;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  color: #d6d6d6;
  font-size: 1rem;
}
.art-section:hover .text {
  font-size: 1.3rem;
  padding: 0;
  width: fit-content;
  height: fit-content;
  margin: 0%;
  bottom: 0%;
  left: 50%;
}
