@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
body {
  background-color: #f0f2f5;
  font-family: "Merienda", cursive;
}

h1 {
  font-size: 2em;
  font-weight: bolder;
}
h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
h3 {
  font-size: 1.17em;
  font-weight: bolder;
}
h4 {
  font-size: 1em;
  font-weight: bolder;
}
h5 {
  font-size: 0.83em;
  font-weight: bolder;
}
h6 {
  font-size: 0.67em;
  font-weight: bolder;
}
