@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Delius&family=Redressed&display=swap");
body {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  font-family: "Merienda", cursive;
  /* font-family: "Redressed", cursive; */
}

h1 {
  font-size: 2em;
  font-weight: bolder;
}
h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
h3 {
  font-size: 1.17em;
  font-weight: bolder;
}
h4 {
  font-size: 1em;
  font-weight: bolder;
}
h5 {
  font-size: 0.83em;
  font-weight: bolder;
}
h6 {
  font-size: 0.67em;
  font-weight: bolder;
}
.intro {
  font-family: "Delius", cursive;
  /* font-family: "Redressed", cursive; */
  font-size: 21px;
  color: rgb(24, 24, 24);
}
