/* CSS For SrcBar */
.b-search-box {
  border-radius: 50px;
  height: 55px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  max-width: 100%;

  transition: all 0.3s ease 0s;
}

.b-search-input {
  border: 0 none;
  color: #333;
  height: 100%;
  padding: 10px 0px 10px 25px;
  width: calc(100% - 60px);
  outline: none;
  transition: 0.4s;
  font-size: 16px;
  font-family: "Delius", cursive;
}
.b-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff none repeat scroll 0 0;
  border: 0 none;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  width: 60px;
}

.fa-search {
  font-size: 33px;
  font-weight: 900;
  color: #808080;
}

.b-search-btn:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
